<template>
<body class="menu-position-side menu-side-left full-screen color-scheme-light" :class="[theme == true ? 'color-scheme-light' : 'color-scheme-dark']">
  <div class="all-wrapper with-side-panel solid-bg-all">
    <div class="layout-w">
      <mobilemenu/>
      <leftmenu/>
      
      <chat :user="user"/>
      <allcontent/>
    </div>
  </div>
</body>
</template>
<script>
    import {mapGetters} from 'vuex'
    export default {
        computed: {
            ...mapGetters({
                user: 'auth/user'
            }),
            theme(){
                return this.filterByDay()
            }
        },
        methods: {
            filterByDay() {
                if (this.user.data != null) {
                     if (this.user.data.theme == 1) { 
                        return true
                    }else{
                        return false
                    }
                }
            },
        },
        mounted() {
            Echo.private('App.User.1')
                .listen('themechanged', (e) => {
                    console.log(e)
                })
        }
    }
</script>