<template>
    <div>
        <div class="floated-chat-btn">
            <i class="os-icon os-icon-mail-07"></i>
        </div>
        <div class="floated-chat-w">
            <div class="floated-chat-i">
                <div class="chat-close">
                    <i class="os-icon os-icon-close"></i>
                </div>
                <div class="chat-head">
                    <div class="user-w with-status status-green">
                        <div class="user-avatar-w">
                            <div class="user-avatar">
                                <img alt="" src="assets/img/avatar1.jpg">
                            </div>
                        </div>
                        <div class="user-name">
                            <h6 class="user-title">John Mayers</h6>
                            <div class="user-role">Account Manager</div>
                        </div>
                    </div>
                </div>
                <div class="chat-messages">

                    <div class="element-wrapper">
                        <h6 class="element-header text-dark pb-1">Team Members</h6>
                        <div class="element-box-tp">
                            <div class="input-search-w">
                                <input class="form-control rounded bright" placeholder="Search team members..." type="search">
                            </div>
                            <div class="users-list-w">
                                <div class="user-w with-status status-green">
                                    <div class="user-avatar-w">
                                        <div class="user-avatar">
                                            <img alt="" src="assets/img/avatar1.jpg">
                                        </div>
                                    </div>
                                    <div class="user-name">
                                        <h6 class="user-title text-dark">John Mayers</h6>
                                        <div class="user-role text-primary">Account Manager</div>
                                    </div>
                                    <span class="user-action">
                                        <div class="os-icon os-icon-email-forward"></div>
                                    </span>
                                </div>
                                <div class="user-w with-status status-green">
                                    <div class="user-avatar-w">
                                        <div class="user-avatar">
                                            <img alt="" src="assets/img/avatar2.jpg">
                                        </div>
                                    </div>
                                    <div class="user-name">
                                        <h6 class="user-title text-dark">Ben Gossman</h6>
                                        <div class="user-role text-primary">Administrator</div>
                                    </div>
                                    <span class="user-action">
                                        <div class="os-icon os-icon-email-forward"></div>
                                    </span>
                                </div>
                                <div class="user-w with-status status-red">
                                    <div class="user-avatar-w">
                                        <div class="user-avatar">
                                            <img alt="" src="assets/img/avatar3.jpg">
                                        </div>
                                    </div>
                                    <div class="user-name">
                                        <h6 class="user-title text-dark">Phil Nokorin</h6>
                                        <div class="user-role text-primary">HR Manger</div>
                                    </div>
                                    <span class="user-action">
                                        <div class="os-icon os-icon-email-forward"></div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="message">
                        <div class="message-content">Hi, how can I help you?</div>
                    </div>
                    <div class="date-break">Mon 10:20am</div>
                    <div class="message">
                        <div class="message-content">{{user}} Hi, my name is Mike, I will be happy to assist you</div>
                    </div>
                    <div class="message self">
                        <div class="message-content">Hi, I tried ordering this product and it keeps showing me error code.</div>
                    </div> -->
                </div>
                <div class="chat-controls">
                    <input class="message-input" placeholder="Type your message here..." type="text">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {mapGetters} from 'vuex'
    export default {
        props:{
            user:{
                required: true,
                type: Object
            },
        },
    }
</script>