<template>
    <div class="form-text with-errors animated zoomIn faster">
        <ul class="list-unstyled">
            <li>{{error}}</li>
        </ul>
    </div>
</template>
<script>
    export default {
        props:{
            error:{
                required: true,
                type: String
            }
        }
    }
</script>
