<template>
    <div :class="[user.authenticated == true ? '' : 'hider', theme == true ? 'color-scheme-light' : 'color-scheme-dark']" class="menu-w menu-activated-on-hover menu-has-selected-link color-style-default sub-menu-color-bright menu-position-side menu-side-left menu-layout-compact sub-menu-style-flyout selected-menu-color-light">
        <div class="logo-w">
            <router-link class="logo" to="/">
                <div class="logo-element"></div>
                <div class="logo-label">Fleetwise</div>
            </router-link>
        </div>
        <div class="element-search autosuggest-search-activator">
            <input id="search" class="search" autofocus placeholder="Search the menu..." type="text">
        </div>
        <h1 class="menu-page-header">Page Header</h1>
        <ul class="main-menu">
            <li class="sub-header">
                <span>Assets & Fuel</span>
            </li>
            <!-- Dashboard -->
            <li class="sub-menu">
                <router-link to="/dashboard">
                    <span class="hidden">Dashboard Listing</span>
                    <div class="icon-w">
                        <div class="icon-screen-desktop"></div>
                    </div>
                    <span>Dashboard</span>
                </router-link>
            </li>
            <!-- Assets -->
            <li class="has-sub-menu">
                <a href="javascript:void(0);">
                    <span class="hidden">Assets Vehicle info Makes Models Body types Vehicle Departments Base Badges</span>
                    <div class="icon-w">
                        <div class="icon-plane"></div>
                    </div>
                    <span>Assets</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Assets</div>
                    <div class="sub-menu-icon">
                        <i class="icon-plane"></i>
                    </div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/vehicles">Vehicle <strong class="badge badge-danger">3</strong></router-link></li>
                            <li><router-link to="/makes">Makes</router-link></li>
                            <li><router-link to="/models">Models</router-link></li>
                            <li><router-link to="/bodytypes">Body types</router-link></li>
                            <li><router-link to="/vehicletype">Vehicle types</router-link></li>
                            <li><router-link to="/departments">Departments</router-link></li>
                        </ul>
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/bases">Base</router-link></li>
                            <li><router-link to="/badges">Badges</router-link></li>
                            <li><router-link to="/costcenters">Cost center</router-link></li>
                            <li><router-link to="/planner">Work order</router-link></li>
                            <li><router-link to="/vehicle-reports">Asset reports</router-link></li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- Pool -->
            <li class="has-sub-menu">
                <a href="javascript:void(0);">
                    <span class="hidden">Booking planner Return Claims Contracted vehicles Pool reports</span>
                    <div class="icon-w">
                        <div class="icon-calendar"></div>
                    </div>
                    <span>Pool</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Pool</div>
                    <div class="sub-menu-icon">
                        <i class="icon-calendar"></i>
                    </div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/bookings">Booking <strong class="badge badge-danger">5</strong></router-link></li>
                            <li><router-link to="/planner">Booking planner</router-link></li>
                            <li><router-link to="/returns">Return</router-link></li>
                            <li><router-link to="/contracted">Contracted vehicles</router-link></li>
                            <li><router-link to="/claims">Claims</router-link></li>
                            <li><router-link to="/pool-reports">Pool reports</router-link></li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- Costing -->
            <li class="has-sub-menu">
                <a href="javascript:void(0);">
                    <span class="hidden">Costing by vehicles departments centers covered reports</span>
                    <div class="icon-w">
                        <div class="icon-refresh"></div>
                    </div>
                    <span>Costing</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Costing</div>
                    <div class="sub-menu-icon">
                        <i class="icon-refresh"></i>
                    </div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/vehicle-costing">Liters by vehicles</router-link></li>
                            <li><router-link to="/department-costing">Liters by departments</router-link></li>
                            <li><router-link to="/centers-costing">Liters by centers</router-link></li>
                            <li><router-link to="/distance-costing">Distance covered</router-link></li>
                            <li><router-link to="/costing-reports">Costing reports</router-link></li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- Fuel issuance -->
            <li class="has-sub-menu">
                <a href="javascript:void(0);">
                    <span class="hidden">Fuel transactions</span>
                    <div class="icon-w">
                        <div class="icon-drop"></div>
                    </div>
                    <span>Fuel transactions</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Fuel</div>
                    <div class="sub-menu-icon">
                        <i class="icon-drop"></i>
                    </div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/allissuance">Fuel Issuance</router-link></li>
                            <li><router-link to="/fuel-types">Fuel Types</router-link></li>
                            <li><router-link to="/locations">Locations</router-link></li>
                            <li><router-link to="/tank-header">Tanks Transaction</router-link></li>
                            <li><router-link to="/tankslevels">Tanks level</router-link></li>
                            <li><router-link to="/fuel-reports">Fuel Reports</router-link></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="sub-header">
                <span>Stock & Repairs</span>
            </li>
            <!-- Assets repair -->
            <li class="has-sub-menu">
                <a href="javascript:void(0);">
                    <span class="hidden">Asset repairs Job Card Spare To Other Center Task Planner Done Code Service Types Maintenance Category Vendor Mechanics Reports</span>
                    <div class="icon-w">
                        <div class="icon-wrench"></div>
                    </div>
                    <span>Asset repairs</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Asset repairs</div>
                    <div class="sub-menu-icon">
                        <i class="icon-wrench"></i>
                    </div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/jobcards">Job Cards</router-link></li>
                            <li><router-link to="/planner">Spare To Other Center</router-link></li>
                            <li><router-link to="/planner">Task Planner <strong class="badge badge-danger">3</strong></router-link></li>
                            <li><router-link to="/planner">Done Task</router-link></li>
                            <li><router-link to="/taskcodes">Task Code</router-link></li>
                            <li><router-link to="/servicetypes">Service Types</router-link></li>
                        </ul>
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/maintenancetypes">Maintenance Category</router-link></li>
                            <li><router-link to="/vendors">Vendor</router-link></li>
                            <li><router-link to="/mechanics">Mechanics</router-link></li>
                            <li><router-link to="/maintenance-reports">Maintenance Reports</router-link></li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- inventory -->
            <li class="has-sub-menu">
                <a href="javascript:void(0);">
                    <span class="hidden">Inventory Items recieving return rategory Suppliers reports</span>
                    <div class="icon-w">
                        <div class="icon-social-dropbox"></div>
                    </div>
                    <span>Inventory</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Inventory</div>
                    <div class="sub-menu-icon">
                        <i class="icon-social-dropbox"></i>
                    </div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/items">Items</router-link></li>
                            <li><router-link to="/orders">Items recieving</router-link></li>
                            <li><router-link to="/itemsreturn">Items return</router-link></li>
                            <li><router-link to="/itemscategory">Items category</router-link></li>
                            <li><router-link to="/suppliers">Suppliers</router-link></li>
                            <li><router-link to="/inventory-reports">Inventory reports</router-link></li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- Drivers -->
            <li class="has-sub-menu">
                <a href="javascript:void(0);">
                    <span class="hidden">Drivers records Violations Reports</span>
                    <div class="icon-w">
                        <div class="icon-people"></div>
                    </div>
                    <span>Drivers</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Drivers</div>
                    <div class="sub-menu-icon">
                        <i class="icon-people"></i>
                    </div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/drivers">Drivers records <strong class="badge badge-danger">12</strong></router-link></li>
                            <li><router-link to="/violations">Violations</router-link></li>
                            <li><router-link to="/drivers-reports">Drivers Reports</router-link></li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- Leave -->
            <li class="has-sub-menu">
                <a href="javascript:void(0);">
                    <span class="hidden">Leave request type Staff analyses Reports</span>
                    <div class="icon-w">
                        <div class="icon-layers"></div>
                    </div>
                    <span>Leave</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Leave</div>
                    <div class="sub-menu-icon">
                        <i class="icon-layers"></i>
                    </div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/leave-request">Leave request</router-link></li>
                            <li><router-link to="/leavetype">Leave type</router-link></li>
                            <!-- <li><router-link to="/planner">Staff</router-link></li> -->
                            <li><router-link to="/leave-annalysis">Leave analyses</router-link></li>
                            <li><router-link to="/planner">Leave Reports</router-link></li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- Accidents -->
            <li class="has-sub-menu">
                <a href="javascript:void(0);">
                    <span class="hidden">Accidents records Accident reports</span>
                    <div class="icon-w">
                        <div class="icon-fire"></div>
                    </div>
                    <span>Accidents</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Accidents</div>
                    <div class="sub-menu-icon">
                        <i class="icon-fire"></i>
                    </div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/accidents">Accident records</router-link></li>
                            <li><router-link to="/accidents-reports">Accident reports</router-link></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="sub-header">
                <span>Trips & Others</span>
            </li>
            <!-- Trips -->
            <li class="has-sub-menu">
                <a href="javascript:void(0);">
                    <span class="hidden">Trip management Trips & loads type Cargo Consignee External Report</span>
                    <div class="icon-w">
                        <div class="icon-location-pin"></div>
                    </div>
                    <span>Trip management</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Trips</div>
                    <div class="sub-menu-icon">
                        <i class="icon-location-pin"></i>
                    </div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/planner">Trips & loads</router-link></li>
                            <li><router-link to="/planner">Trip type</router-link></li>
                            <li><router-link to="/planner">Cargo type</router-link></li>
                        </ul>
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/planner">Consignee</router-link></li>
                            <li><router-link to="/planner">External trip</router-link></li>
                            <li><router-link to="/trips-reports">Trips Report</router-link></li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- Messages -->
            <li class="sub-menu">
                <router-link to="/messages">
                    <span class="hidden">Messages</span>
                    <div class="icon-w">
                        <div class="icon-bubble"></div>
                    </div>
                    <span>Messages <strong class="badge badge-danger">5</strong></span>
                </router-link>
            </li>
            <!-- Trash -->
            <li class="sub-menu">
                <a href="javascript:void(0);">
                    <span class="hidden">Trash</span>
                    <div class="icon-w">
                        <div class="icon-trash"></div>
                    </div>
                    <span>Trash</span>
                </a>
            </li>
            <!-- Utilities -->
            <li class="has-sub-menu">
                <a href="javascript:void(0);">
                    <span class="hidden">Utilities Users Integration Audit log Fuel report settings</span>
                    <div class="icon-w">
                        <div class="icon-settings"></div>
                    </div>
                    <span>Utilities</span>
                </a>
                <div class="sub-menu-w">
                    <div class="sub-menu-header">Utilities</div>
                    <div class="sub-menu-icon">
                        <i class="icon-settings"></i>
                    </div>
                    <div class="sub-menu-i">
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/users">Users</router-link></li>
                            <li><router-link to="/integration">Integration</router-link></li>
                            <li><router-link to="/logs">Audit log</router-link></li>
                            <li><router-link to="/fuel-report-settings">Fuel reports settings</router-link></li>
                            <li><router-link to="/maintenance-report-settings">Maintenance reports settings</router-link></li>
                            <li><router-link to="/pool-report-settings">Pool reports settings</router-link></li>
                            <li><router-link to="/costing-report-settings">Costing reports settings</router-link></li>
                        </ul>
                        <ul class="sub-menu menu-left-nest">
                            <li><router-link to="/inventory-report-settings">Inventory reports settings</router-link></li>
                            <li><router-link to="/driver-report-settings">Driver reports settings</router-link></li>
                            <li><router-link to="/accidents-report-settings">Accident reports settings</router-link></li>
                            <li><router-link to="/trips-report-settings">Trip reports settings</router-link></li>
                            <li><router-link to="/maintenance-report-settings">Leave reports settings</router-link></li>
                            <li><router-link to="/maintenance-report-settings">Auditlog report settings</router-link></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <div class="side-menu-magic">
            <p>2018 © Fleetwise</p>
            <!-- <div class="btn-w">
                <div class="row">
                    <div class="col-4"><h3><i class="icon-globe"></i></h3></div>
                    <div class="col-4"><h3><a href="skype:Fleetwise_Support?chat"><i class="icon-social-skype"></i></a> </h3></div>
                    <div class="col-4"><h3><i class="icon-bubbles"></i></h3></div>
                </div>
            </div> -->
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex'
    export default {
        computed: {
            ...mapGetters({
                user: 'auth/user'
            }),
            theme(){
                return this.filterByDay()
            }
        },
        methods: {
            filterByDay() {
                if (this.user.data != null) {
                     if (this.user.data.theme == 1) {
                        return true
                    }else{
                        return false
                    }
                }
            },
        }
    }
</script>
<style scoped>
.menu-w.menu-layout-compact{
    flex: 0 0 230px;
}
.menu-position-side.menu-w .element-search input{
    padding: 4px 4px 4px 40px;
}
.menu-w .side-menu-magic{
    padding: 20px;
}
</style>
