<template>
    <div class="top-bar" :class="[user.authenticated == true ? '' : 'hider', theme == true ? 'color-scheme-light' : 'color-scheme-dark']">
        <!--------------------START - Top Menu Controls-------------------->
        <div class="top-menu-controls">
            <div class="element-search autosuggest-search-activator">
                <input placeholder="Search for data..." type="text">
            </div>

            <!-- System notification -->
            <!-- <div class="messages-notifications os-dropdown-trigger os-dropdown-position-left">
                <i class="os-icon os-icon-zap"></i>
                <div class="new-messages-count">4</div>
                <div class="os-dropdown light message-list">
                    <div class="icon-w">
                        <i class="os-icon os-icon-zap"></i>
                    </div>
                    <ul>
                        <li>
                            <a href="index.html#">
                                <div class="user-avatar-w">
                                    <img alt="" src="/assets/img/avatar1.jpg">
                                </div>
                                <div class="message-content">
                                    <h6 class="message-from">John Mayers</h6>
                                    <h6 class="message-title">Account Update</h6>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="user-avatar-w">
                                    <img alt="" src="/assets/img/avatar2.jpg">
                                </div>
                                <div class="message-content">
                                    <h6 class="message-from">Phil Jones</h6>
                                    <h6 class="message-title">Secutiry Updates</h6>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="user-avatar-w">
                                    <img alt="" src="/assets/img/avatar3.jpg">
                                </div>
                                <div class="message-content">
                                    <h6 class="message-from">Bekky Simpson</h6>
                                    <h6 class="message-title">Vacation Rentals</h6>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="user-avatar-w">
                                    <img alt="" src="/assets/img/avatar4.jpg">
                                </div>
                                <div class="message-content">
                                    <h6 class="message-from">Alice Priskon</h6>
                                    <h6 class="message-title">Payment Confirmation</h6>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> -->

            <!--------------------START - User avatar and menu in secondary top menu-------------------->
            <div class="logged-user-w" v-if="user.data != null">
                <div class="logged-user-i">
                    <div class="avatar-w">
                        <img :src="'/assets/img/users/' + user.data.avatar">
                    </div>
                    <div class="logged-user-menu color-style-bright">
                        <div class="logged-user-avatar-info">
                            <div class="avatar-w">
                                <img :src="'/assets/img/users/' + user.data.avatar">
                            </div>
                            <div class="logged-user-info-w">
                                <div class="logged-user-name">{{user.data.full_name}}</div>
                                <div class="logged-user-role">{{user.data.role}}</div>
                            </div>
                        </div>
                        <div class="bg-icon">
                            <i class="os-icon os-icon-wallet-loaded"></i>
                        </div>
                        <ul>
                            <li>
                                <router-link to="/user-profile">
                                    <i class="os-icon os-icon-user-male-circle2"></i>
                                    <span>Profile Details</span>
                                </router-link>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="os-icon os-icon-coins-4"></i>
                                    <span>{{user.data.centername}}</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="os-icon os-icon-others-43"></i>
                                    <span>Notifications</span>
                                </a>
                            </li>
                            <li>
                                <a @click.prevent="signout" href="javascript:void(0)">
                                    <i class="os-icon os-icon-signs-11"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--------------------END - User avatar and menu in secondary top menu-------------------->
        </div>
        <!--------------------END - Top Menu Controls-------------------->
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex'
    export default {
        computed:{
            ...mapGetters({
                user: 'auth/user'
            }),
            theme(){
                return this.filterByDay()
            }
        },
        methods: {
            ...mapActions({
                logout: 'auth/logout'
            }),
            signout () {
                this.logout({
                    payload: {
                        id: this.user.data.id,
                        // center: this.user.data.costcenter
                    }
                })
                .then(() => {
                    this.$router.replace({ name: 'login' })
                })
            },
            filterByDay() {
                if (this.user.data != null) {
                     if (this.user.data.theme == 1) { 
                        return true
                    }else{
                        return false
                    }
                }
            },
        }
    }
</script>
<style scoped>
.top-bar .top-menu-controls .element-search input{
    padding: 4px 4px 4px 40px;
}
</style>
