<template>
    <div>
        <div class="chat-search">
            <div class="element-search">
                <input placeholder="Search users by name..." type="text">
            </div>
        </div>
        <div class="user-list">
            <div class="user-w">
                <div class="avatar with-status status-green">
                    <img alt="" src="assets/img/avatar5.jpg">
                </div>
                <div class="user-info">
                    <div class="user-date">12 min</div>
                    <div class="user-name">Jane Queen</div>
                    <div class="last-message">Ill be there shortly...</div>
                </div>
            </div>
        </div>
        <div class="user-list">
            <div class="user-w">
                <div class="avatar with-status status-green">
                    <img alt="" src="assets/img/avatar1.jpg">
                </div>
                <div class="user-info">
                    <div class="user-date">12 min</div>
                    <div class="user-name">John Mayers</div>
                    <div class="last-message">What is going on, are we...</div>
                </div>
            </div>
        </div>
    </div>
</template>