<template>
    <div>
        <div class="profile-tile mt-2">
            <div class="row">
                <div class="col-sm-6 col-xxxl-3">
                    <span class="element-box profile-tile-box mr-auto ml-auto">
                        <div class="pt-avatar-w">
                            <img alt="" src="assets/img/avatar5.jpg">
                        </div>
                        <div class="pt-user-name">Mark Parson</div>
                    </span>
                </div>
                <div class="col-sm-6 col-xxxl-3">
                    <span class="element-box profile-tile-box mr-auto ml-auto">
                        <div class="pt-avatar-w">
                            <img alt="" src="assets/img/avatar2.jpg">
                        </div>
                        <div class="pt-user-name">Mark Parson</div>
                    </span>
                </div>
                <div class="col-sm-6 col-xxxl-3">
                    <span class="element-box profile-tile-box mr-auto ml-auto">
                        <div class="pt-avatar-w">
                            <img alt="" src="assets/img/avatar3.jpg">
                        </div>
                        <div class="pt-user-name">Mark Parson</div>
                    </span>
                </div>
            </div>
        </div>

        <!-- <div class="user-list">
            <div class="user-w">
                <div class="avatar with-status status-green">
                    <img alt="" src="assets/img/avatar1.jpg">
                </div>
                <div class="user-info">
                    <div class="user-date">12 min</div>
                    <div class="user-name">John Mayers</div>
                    <div class="last-message">What is going on, are we...</div>
                </div>
            </div>
        </div> -->
        
    </div>
</template>
<style scoped>
.profile-tile {
    display: block;
    align-items: center;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
}
.profile-tile-box{
    cursor: pointer;
}
</style>
