<template>
    <div class="content-box">



        <div class="element-box-tp">
            <div class="inline-profile-tiles">
                <div class="row">
                    <div v-for="srv in services" :key="srv.id" class="col-3 col-sm-2 col-xxl-2 animated zoomInDown">
                        <div class="profile-tile profile-tile-inlined">
                            <span class="profile-tile-box point" @click="open(srv)">
                                <div class="pt-avatar-w">
                                    <h4 class="text-info">{{srv.totalcount}}</h4>
                                </div>
                                <div class="pt-user-name">{{srv.servicename}}</div>
                            </span>
                        </div>
                    </div>
                    <div class="col-3 col-sm-2 col-xxl-2 animated zoomInDown">
                        <div class="profile-tile profile-tile-inlined">
                            <span class="profile-tile-box">
                                <div class="pt-avatar-w">
                                    <h4 class="text-info">{{data.jobcards}}</h4>
                                </div>
                                <div class="pt-user-name">Open Jobs</div>
                            </span>
                        </div>
                    </div>
                    <div class="col-3 col-sm-2 col-xxl-2 animated zoomInDown">
                        <div class="profile-tile profile-tile-inlined">
                            <span class="profile-tile-box">
                                <div class="pt-avatar-w">
                                    <h4 class="text-danger">{{data.soldVehicles}}</h4>
                                </div>
                                <div class="pt-user-name">Sold Vehicles</div>
                            </span>
                        </div>
                    </div>
                    <div class="col-3 col-sm-2 col-xxl-2 animated zoomInDown">
                        <div class="profile-tile profile-tile-inlined">
                            <span class="profile-tile-box">
                                <div class="pt-avatar-w">
                                    <h4 class="text-danger">{{data.grounded}}</h4>
                                </div>
                                <div class="pt-user-name">Grounded Fleet</div>
                            </span>
                        </div>
                    </div>
                    <div class="col-3 col-sm-2 col-xxl-2 animated zoomInDown">
                        <div class="profile-tile profile-tile-inlined">
                            <span class="profile-tile-box">
                                <div class="pt-avatar-w">
                                    <h4 class="text-success">{{data.allvehicles}}</h4>
                                </div>
                                <div class="pt-user-name text-mute">Working Fleet</div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="element-content">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="element-box el-tablo">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="icon-arrow-left point" @click.prevent="prevyear"></i>
                                    </div>
                                    <div class="col-8 text-center">
                                        <span @click.prevent="now" class="point">
                                            Annual Fuel consumption analysis
                                        </span>
                                    </div>
                                    <div class="col-2 text-right">
                                        <i class="icon-arrow-right point" @click.prevent="nextyear"></i>
                                    </div>
                                </div>
                                <template v-if="fuelchat.curr">
                                    <fuel-cost :chart="fuelchat" datatype="fuel"/>
                                </template>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <span class="element-box el-tablo">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="icon-arrow-left point" @click.prevent="prevyear"></i>
                                    </div>
                                    <div class="col-8 text-center">
                                        <span @click.prevent="now" class="point">
                                            Annual Repair and maintenance analysis
                                        </span>
                                    </div>
                                    <div class="col-2 text-right">
                                        <i class="icon-arrow-right point" @click.prevent="nextyear"></i>
                                    </div>
                                </div>
                                <template v-if="fuelchat.curr">
                                    <repair-cost :chart="fuelchat"></repair-cost>
                                </template>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="pipeline white">
                    <div class="row mb-4">
                        <div class="col-2">
                            <i class="icon-arrow-left point" @click.prevent="prevyear"></i>
                        </div>
                        <div class="col-8 text-center">
                            <span @click.prevent="now" class="point">
                                Mechanic jobs
                            </span>
                        </div>
                        <div class="col-2 text-right">
                            <i class="icon-arrow-right point" @click.prevent="nextyear"></i>
                        </div>
                    </div>
                    <div class="pipeline-body">
                        <div class="row" style="margin-bottom: -30px;">
                            <div class="col-6 col-sm-6 col-md-3 mb-5" v-for="mc in mechs" :key="mc.id">
                                <div class="driveravatar mechanicborder">
                                    <img :src="'assets/img/users/'+mc.avatar">
                                </div>
                                <div class="mechcount">{{mc.DoneJobs}}</div>
                                <div class="more">{{mc.firstName}} {{mc.lastName}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-11 mr-auto ml-auto animated zoomInUp">
                <div class="pipeline white">
                    <span class="el-tablo mb-2">
                        <div class="row">
                            <div class="col-2">
                                <i class="icon-arrow-left point" @click.prevent="prevyearbk"></i>
                            </div>
                            <div class="col-8 text-center">
                                <span @click.prevent="nowbk" class="point">
                                    Annual Vehicle booking
                                </span>
                            </div>
                            <div class="col-2 text-right">
                                <i class="icon-arrow-right point" @click.prevent="nextyearbk"></i>
                            </div>
                        </div>
                        <template v-if="booking.curr">
                            <booking-count :chart="booking" datatype="repair"/>
                        </template>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="pipeline white">
                    
                    <span class="el-tablo mb-3">
                        <div class="label">Staff Leave</div>
                    </span>
                    <div class="pipeline-body">
                        <div class="row" style="margin-bottom: -30px;">
                            <div class="col-6 col-sm-6 col-md-3 mb-5" v-for="lv in leave" :key="lv.id">
                                <div class="driveravatar" :class="[lv.usertype == 1 ? 'driverborder':'userborder']">
                                    <img v-if="lv.avatar != null" :src="'assets/img/users/' + lv.avatar">
                                </div>
                                <div class="mechcount">{{lv.leavedays}}</div>
                                <div class="more">{{lv.singlename}}</div>
                                <div class="more bg-none text-primary">{{lv.leavetype.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <modal name="serviceCounterModal" classes="animated bounceInDown faster" :clickToClose="true" height="auto" :adaptive="true" :pivotY="0.2">
            <selectedjobcard :data="jobcarddata" />
        </modal>

    </div>
</template>
<script>
import Bus from '../../../bus'
import FuelCost from '../../../components/Graphs/Fuel'
import RepairCost from '../../../components/Graphs/Repair'
import BookingCount from '../../../components/Graphs/Booking'
import { mapGetters, mapActions } from 'vuex'
import { isEmpty } from 'lodash'
import moment from 'moment'
export default {
    components: { FuelCost, RepairCost, BookingCount },
    data () {
        return {
            isGettingMc: false,
            isLoadingMc: false,
            // jobcarddata: null,
        }
    },
    computed: {
        ...mapGetters({
            data: 'dashboard/getVehicleJobcardCounter',
            services: 'dashboard/getServicescount',
            jobcarddata: 'dashboard/getOpenJobcards',
            fuelchat: 'dashboard/getFuelChat',
            leave: 'dashboard/getLeave',
            booking: 'dashboard/getBookingChart',
            fuelmonth: 'dashboard/getFuelmonth',
            bookingmonth: 'dashboard/getBookingmonth',
            mechs: 'dashboard/getMechanicsJob',
        })
    },
    watch: {
        fuelmonth: function() {
            this.isGettingMc = true;
            this.isLoadingMc = true;
            this.fetchFuelChat({
                payload: {
                    year: this.dateFormater(this.fuelmonth)
                },
                context: this
            })
            .then(() => {
                this.isGettingMc = false;
                if (isEmpty(this.errors)) {
                    this.isLoadingMc = false;
                }
            })
        },
        bookingmonth: function() {
            this.isGettingMc = true;
            this.isLoadingMc = true;
            this.fetchBookingChart({
                payload: {
                    year: this.dateFormater(this.bookingmonth)
                },
                context: this
            })
            .then(() => {
                this.isGettingMc = false;
                if (isEmpty(this.errors)) {
                    this.isLoadingMc = false;
                }
            })
        },
    },
    methods: {
        ...mapActions({
            fetchVehicleJobcardData: 'dashboard/fetchVehicleJobcardData',
            fetchSerciceCountData: 'dashboard/fetchSerciceCountData',
            setSelectedService: 'dashboard/setSelectedService',
            fetchFuelChat: 'dashboard/fetchFuelChat',
            fetchLeave: 'dashboard/fetchLeave',
            fetchBookingChart: 'dashboard/fetchBookingChart',
            changefuelmonth: 'dashboard/changefuelmonth',
            changebookmonth: 'dashboard/changebookmonth',
            fetchMechWorks: 'dashboard/fetchMechWorks',
        }),
        dateFormater(date){
            if (date != null && date != "") {
                var today = new Date(date);
                var dd = today.getDate();
                var mm = today.getMonth()+1;
                var yyyy = today.getFullYear();
                var dateIssued = yyyy+'-'+mm+'-'+dd;
                return dateIssued;
            }else {
                return null;
            }
        },
        open(data){
            this.setSelectedService(data)
            this.$modal.show('serviceCounterModal')
        },
        prevyear() {
            this.changefuelmonth(this.fuelmonth.subtract(1, 'Y'))
        },
        nextyear() {
            this.changefuelmonth(this.fuelmonth.add(1, 'Y'))
        },
        now() {
            this.changefuelmonth(moment())
        },
        prevyearbk() {
            this.changebookmonth(this.fuelmonth.subtract(1, 'Y'))
        },
        nextyearbk() {
            this.changebookmonth(this.fuelmonth.add(1, 'Y'))
        },
        nowbk() {
            this.changebookmonth(moment())
        },
    },
    mounted (){
        this.fetchVehicleJobcardData()
        this.fetchSerciceCountData()
        this.fetchBookingChart({
            payload: {
                year: moment().format('YYYY-MM-DD')
            }
        }),
        this.fetchFuelChat({
            payload: {
                year: moment().format('YYYY-MM-DD')
            }
        }),
        this.fetchMechWorks({
            payload: {
                month: moment().format('YYYY-MM-DD')
            }
        }),
        this.fetchLeave()
        Bus.$on('close-jobcard-modal', ()=> {
            this.$modal.hide('serviceCounterModal');
        })
    }
}
</script>
<style scoped>
    .col-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
        flex: 0 0 99.6666666667%;
        max-width: 99.6666666667%;
    }
    h4{
        margin-bottom: 0;
    }
    .support-index .support-ticket+.support-ticket{
        margin-top: 0px;
        margin-left: 20px;
    }
    .pipeline-body{
        min-height: 0;
    }

    .userborder{
        -webkit-box-shadow: 0px 0px 0px 3px #077bf8;
        box-shadow: 0px 0px 0px 3px #077bf8;
    }
    .driverborder{
        -webkit-box-shadow: 0px 0px 0px 3px #f70e02;
        box-shadow: 0px 0px 0px 3px #f70e02;
    }
    .mechanicborder{
        -webkit-box-shadow: 0px 0px 0px 3px #474747;
        box-shadow: 0px 0px 0px 3px #474747;
    }

    .driveravatar {
        width: 35px;
        border-radius: 35px;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
    }
    .driveravatar img {
        height: auto;
        width: 35px;
    }
    .more {
        background-color: #047bf8;
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        left: -30px;
        padding: 1px 7px;
        border-radius: 12px;
        color: #fff;
        font-size: .73rem;
        font-weight: bold;
    }
    .mechcount{
        background-color: #f70303;
        display: inline-block;
        vertical-align: top;
        position: relative;
        left: -10px;
        top: -7px;
        padding: 1px 6px;
        border-radius: 50%;
        color: #fff;
        font-weight: bold;
        font-size: .73rem;
    }
</style>


