<template>
    <div class="content-box">
        <div class="pipelines-w">
            <div class="loginwrapper ml-auto mr-auto" :class="[user.authenticated == false ? 'topspace' : 'topspacelockscreen']">
                <div class="loginblock animated faster bounceInUp">
                    <div class="llogin">
                        <img width="120" height="120" src="/assets/img/logo2.png" alt="logo">
                    </div>
                    <div class="row">
                        <div class="col-8 mx-auto text-center">
                            <h6 class="element-header text-info">Fleet Management Solution</h6>
                        </div>
                    </div>
                    <div class="loginform">
                        <form @submit.prevent="submit">
                            <div class="row mt-4">
                                <div class="col-12">
                                    <input v-model="email" type="email" placeholder="Email" class="custominput shadow" :class="{'animated shake': errors.email}">
                                    <ul class="list-unstyled text-danger">
                                        <li v-if="errors.email">{{errors.email[0]}}</li>
                                    </ul>
                                </div>
                                <div class="col-12 mt-4">
                                    <input v-model="password" type="password" placeholder="Password" class="custominput shadow" :class="{'animated shake': errors.password}">
                                    <ul class="list-unstyled text-danger" v-if="errors.password">
                                        <li>{{errors.password[0]}}</li>
                                    </ul>
                                </div>
                                <button type="submit" :disabled="isSubmitting" class="loginbtn btn-success ctbutton">
                                    <i v-if="isSubmitting" class="fa os-icon os-icon-grid-18 fa-spin mt-2"></i>
                                    <span v-else>Login</span>
                                </button>
                                <router-link to="/resetpassword">
                                    <h3 class="point fliparrow text-dark icon-arrow-down-circle"></h3>
                                </router-link>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex'
    import localforage from 'localforage'
    import isEmpty from 'lodash'
    export default {
        data (){
            return {
                email:null,
                emailconfirmation: null,
                display: false,
                emailReset: null,
                password: null,
                magic_flag: false,
                isSubmitting: false,
                errors:[]
            }
        },
        computed:{
            ...mapGetters({
                user: 'auth/user'
            }),
        },
        methods:{
            ...mapActions({
                login: 'auth/login'
            }),
            rotateCard(){
                if(this.magic_flag== true){
                    this.display = false
                    this.magic_flag = false
                }else {
                    this.display = true
                    this.magic_flag = true
                }
            },
            submit () {
                this.isSubmitting = true;
                this.errors = [];
                this.login({
                    payload: {
                        email: this.email,
                        password: this.password
                    },
                    context: this
                }).then(() => {
                    this.isSubmitting = false;
                    localforage.getItem('intended').then((name) => {
                        if (isEmpty(name)) {
                            this.$router.replace({ name: 'dashboard' })
                            return
                        }
                        this.$router.replace({ name: name })
                    })
                })
            }
        }
    }
</script>
<style scoped>
    ul{
        margin-bottom: 0;
    }
</style>